/******************************************************************

Stylesheet: Resolution over 1030px for LAPTOPS.

******************************************************************/

#infoDetail {
  width: 320px;
  min-height: 400px;
}

.cl100 {
  width: 320px;
}

.cl50 {
  width: 145px;
  margin-right: 10px;
}
