/******************************************************************

Stylesheet: Resolution between 241px to 480px for SMALL MOBILE DEVICES.

******************************************************************/

#infoDetail {
  width: 160px;
  min-height: 400px;
}

.cl100 {
  width: 160px;
}

.cl50 {
  width: 75px;
  margin-right: 10px;
}
