/******************************************************************

Stylesheet: Resolution between 768px to 1029px for TABLET & SMALLER LAPTOPS.

******************************************************************/

#headerArea {
  height: 100px;
}

.menuHolder {
  width: 40%;
}

#infoDetail {
  width: 320px;
  min-height: 400px;
}

.cl100 {
  width: 320px;
}

.cl50 {
  width: 145px;
  margin-right: 10px;
}
